{% extends "TransitoMainBundle:Admin:layout.html.twig" %}

{% if (type == 'psychological') %}
    {% set examName = 'Psicológico' %}
{% elseif (type == 'physical') %}
    {% set examName = 'Físico' %}
{% elseif (type == 'optometry') %}
    {% set examName = 'de Optometría' %}
{% endif %}

{% set title = 'Exámen ' ~ examName %}
{% use "TransitoMainBundle:Admin:form.inc.twig" with custom_js_footer as parent_js_footer %}
{% set page_title = title %}
{% set page_subtitle = 'Cliente: <b>' ~ user.getName()|upper ~ '</b> | Factura: <b>' ~ bill ~ '</b>' %}
{% block custom_js_footer %}
    {{ block('parent_js_footer') }}
    <script type="text/javascript">
        // keep track of how many email fields have been rendered

        jQuery(document).ready(function () {

            var itemCount = new Array();
            var order = 0;
            var addTo = $('#elements');

        {% for formType in [form.dates, form.numerics, form.texts] %}

                order += {{ formType|length }}; // increasing order of creation
                        itemCount["{{ formType.vars.id }}"] = {{ formType|length }};
                        $('#add-{{ formType.vars.id }}').click(function (e) {
                    e.preventDefault();

                    // grab the prototype template
                    var newWidget = $('#{{ formType.vars.id }}').attr('data-prototype');
                    // replace the "__name__" used in the id and name of the prototype
                    // with a number that's unique to your emails
                    // end name attribute looks like name="contact[emails][2]"
                    $(newWidget.replace(/__name__/g, itemCount['{{ formType.vars.id }}']).replace(/(<input type="hidden" name=".+" value=").*(">)/g, "$1" + order + "$2")).appendTo(addTo);
                    itemCount['{{ formType.vars.id }}']++;
                    order++;
                });

                $('body').on('click', 'a.delete-{{ formType.vars.id }}', function () {
                    var div = $(this).closest('div').parent();
                    div.fadeOut(400, function () {
                        div.remove();
                    });
                    return false;
                });

        {% endfor %}

            })
    </script>
{% endblock %}
{% block page_content %}
    <form method="POST" action="{{ path('exam_page', {'type': type, 'bill': bill}) }}" role="form" class="form-horizontal">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-body">
                        {% if errors is not empty %}
                            <div class="alert alert-block alert-danger fade in">
                                <button data-dismiss="alert" class="close" type="button">
                                    &times;
                                </button>
                                <h4 class="alert-heading"><i class="fa fa-times"></i> Error!</h4>
                                {% for error in errors %}
                                    <p>{{ error.message }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div id="elements">
                            {#
                                Existing elements
                            #}
                            {% set elements = [] %}

                            {% for date in form.dates %}
                                {% set elements = elements|merge({('key' ~ date.id.vars.value): _self.date_prototype(date, date.parent.vars.id)}) %}
                            {% endfor %}

                            {% for numeric in form.numerics %}
                                {% set elements = elements|merge({('key' ~ numeric.id.vars.value): _self.numeric_prototype(numeric, numeric.parent.vars.id)}) %}
                            {% endfor %}

                            {% for text in form.texts %}
                                {% set elements = elements|merge({('key' ~ text.id.vars.value): _self.text_prototype(text, text.parent.vars.id)}) %}
                            {% endfor %}

                            {# order elements #}
                            {% if (elements|length > 0) %}
                                {% for i in 0..(elements|length)-1 %}
                                    {{ (elements['key'~ i] is defined) ? elements['key'~ i] : '' }}
                                {% endfor %}
                            {% endif %}
                        </div>

                        {#
                            Observations
                        #}

                        <div class="form-group">
                            <label class="col-sm-12" for="{{ form.observations.vars.id }}">
                                <b>Observaciones Adicionales</b>
                            </label>
                            <div class="col-sm-12">
                                <textarea class="autosize form-control" name="{{ form.observations.vars.full_name }}" id="{{ form.observations.vars.id }}">{{ form.observations.vars.value }}</textarea>
                            </div>
                        </div>

                        {#
                            Date Type
                        #}

                        <div id="{{ form.dates.vars.id }}" data-prototype="{{ _self.date_prototype(form.dates.vars.prototype, form.dates.vars.id)|e }}"></div>

                        {% macro date_prototype(form, id) %}
                            <div class="form-group">
                                <label class="col-sm-1 control-label" for="{{ form.question.vars.id }}">
                                    Pregunta
                                </label>
                                <div class="col-sm-4">
                                    <input type="text" name="{{ form.question.vars.full_name }}" id="{{ form.question.vars.id }}" value="{{ form.question.vars.value }}" class="form-control">
                                </div>
                                <label class="col-sm-1 control-label" for="{{ form.question.vars.id }}">
                                    Respuesta
                                </label>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input type="text" name="{{ form.date.vars.full_name }}" id="{{ form.date.vars.id }}" value="{{ form.date.vars.value }}" placeholder="Agrega una fecha aquí" data-date-format="dd-mm-yyyy" data-date-viewmode="years" class="form-control date-picker">
                                        <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <input type="hidden" name="{{ form.id.vars.full_name }}" value="{{ form.id.vars.value }}">
                                    <a href="#" class="btn btn-xs btn-red tooltips delete-{{ id }}" data-placement="top" data-original-title="Eliminar"><i class="fa fa-times fa fa-white"></i></a>
                                </div>
                            </div>
                        {% endmacro %}

                        {#
                            Numeric Type
                        #}

                        <div id="{{ form.numerics.vars.id }}" data-prototype="{{ _self.numeric_prototype(form.numerics.vars.prototype, form.numerics.vars.id)|e }}"></div>

                        {% macro numeric_prototype(form, id) %}
                            <div class="form-group">
                                <label class="col-sm-1 control-label" for="{{ form.question.vars.id }}">
                                    Pregunta
                                </label>
                                <div class="col-sm-4">
                                    <input type="text" name="{{ form.question.vars.full_name }}" id="{{ form.question.vars.id }}" value="{{ form.question.vars.value }}" class="form-control">
                                </div>
                                <label class="col-sm-1 control-label" for="{{ form.question.vars.id }}">
                                    Respuesta
                                </label>
                                <div class="col-sm-5">
                                    <input type="text" name="{{ form.numeric.vars.full_name }}" id="{{ form.numeric.vars.id }}" value="{{ form.numeric.vars.value }}" pattern="\d+" placeholder="Agrega numeros aquí" class="form-control">
                                </div>
                                <div class="col-sm-1">
                                    <input type="hidden" name="{{ form.id.vars.full_name }}" value="{{ form.id.vars.value }}">
                                    <a href="#" class="btn btn-xs btn-red tooltips delete-{{ id }}" data-placement="top" data-original-title="Eliminar"><i class="fa fa-times fa fa-white"></i></a>
                                </div>
                            </div>
                        {% endmacro %}

                        {#
                            Text Type
                        #}

                        <div id="{{ form.texts.vars.id }}" data-prototype="{{ _self.text_prototype(form.texts.vars.prototype, form.texts.vars.id)|e }}"></div>

                        {% macro text_prototype(form, id) %}
                            <div class="form-group">
                                <label class="col-sm-1 control-label" for="{{ form.question.vars.id }}">
                                    Pregunta
                                </label>
                                <div class="col-sm-4">
                                    <input type="text" name="{{ form.question.vars.full_name }}" id="{{ form.question.vars.id }}" value="{{ form.question.vars.value }}" class="form-control">
                                </div>
                                <label class="col-sm-1 control-label" for="{{ form.question.vars.id }}">
                                    Respuesta
                                </label>
                                <div class="col-sm-5">
                                    <input type="text" name="{{ form.text.vars.full_name }}" id="{{ form.text.vars.id }}" value="{{ form.text.vars.value }}" placeholder="Agrega texto aquí" class="form-control">
                                </div>
                                <div class="col-sm-1">
                                    <input type="hidden" name="{{ form.id.vars.full_name }}" value="{{ form.id.vars.value }}">
                                    <a href="#" class="btn btn-xs btn-red tooltips delete-{{ id }}" data-placement="top" data-original-title="Eliminar"><i class="fa fa-times fa fa-white"></i></a>
                                </div>
                            </div>
                        {% endmacro %}

                        {#
                            Buttons for add types
                        #}

                        <div class="form-group">
                            <div class="col-sm-9">
                                <button class="btn btn-green add-row" id="add-{{ form.texts.vars.id }}">
                                    Agregar pregunta de texto <i class="fa fa-plus"></i>
                                </button>

                                <button class="btn btn-green add-row" id="add-{{ form.numerics.vars.id }}">
                                    Agregar pregunta de numero <i class="fa fa-plus"></i>
                                </button>

                                <button class="btn btn-green add-row" id="add-{{ form.dates.vars.id }}">
                                    Agregar pregunta de fecha <i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <label class="col-sm-1 control-label" for="{{ form.result.vars.id }}">
                                Resultado
                            </label>
                            <div class="col-sm-2">
                                {% set option = form_widget(form.result)|replace(
                                                    {('name="' ~ form.result.vars.full_name ~ '">'): ('name="' ~ form.result.vars.full_name ~ '" class="form-control">')}
                                                                    ) %}
                                {{ option|raw }}
                            </div>
                        </div>


                        <div class="form-group"><div class="col-sm-12"><input type="submit" value="Guardar examen" class="btn btn-blue btn-block"></div></div>

                    </div>
                </div>
            </div>
        </div>

        {{ form_widget(form._token) }}
    </form>

{% endblock %}