{% extends "admin/layout.html.twig" %}
{% use "admin/modal.inc.twig" with custom_js_footer as modal_js %}
{% set title = 'Edición de galeria' %}
{% set page_title = title %}
{% set page_subtitle = girl.getProperty('name') ~ ' - ' ~ category.getName() %}
{% block custom_css_head %}
    <link rel="stylesheet" href="{{ asset('rapido/assets/plugins/dropzone/downloads/css/dropzone.css') }}">
{% endblock %}
{% block custom_js_footer %}
    <script src="{{ asset('rapido/assets/plugins/dropzone/downloads/dropzone.min.js') }}"></script>
    <script>
        Dropzone.options.myAwesomeDropzone = {
            url: '{{ path('add_photo_to_gallery_page', girl.getId(), category.getId()) }}',
            paramName: "images", // The name that will be used to transfer the file
            uploadMultiple: true,
            parallelUploads: 100,
            maxFilesize: 5.0, // MB
            addRemoveLinks: true,
            autoProcessQueue: false,
            // The setting up of the dropzone
            init: function() {
                var myDropzone = this;

                // First change the button to actually tell Dropzone to process the queue.
                this.element.querySelector("input[type=submit]").addEventListener("click", function(e) {
                    // Make sure that the form isn't actually being sent.
                    e.preventDefault();
                    e.stopPropagation();
                    myDropzone.processQueue();
                });

                // Listen to the sendingmultiple event. In this case, it's the sendingmultiple event instead
                // of the sending event because uploadMultiple is set to true.
                this.on("sendingmultiple", function() {
                    // Gets triggered when the form is actually being sent.
                    // Hide the success button or the complete form.
                });
                this.on("successmultiple", function(files, response) {
                    // Gets triggered when the files have successfully been sent.
                    // Redirect user or notify of success.
                });
                this.on("errormultiple", function(files, response) {
                    // Gets triggered when there was an error sending the files.
                    // Maybe show form again, and notify user of error
                });
            }

        };
        
        Dropzone.options.myAwesomeDropzone2 = {
            url: '{{ path('add_photo_to_gallery_page_2', girl.getId(), category.getId()) }}',
            paramName: "horizontal", // The name that will be used to transfer the file
            uploadMultiple: true,
            parallelUploads: 100,
            maxFilesize: 5.0, // MB
            addRemoveLinks: true,
            autoProcessQueue: false,
            // The setting up of the dropzone
            init: function() {
                var myDropzone = this;

                // First change the button to actually tell Dropzone to process the queue.
                this.element.querySelector("input[type=submit]").addEventListener("click", function(e) {
                    // Make sure that the form isn't actually being sent.
                    e.preventDefault();
                    e.stopPropagation();
                    myDropzone.processQueue();
                });

                // Listen to the sendingmultiple event. In this case, it's the sendingmultiple event instead
                // of the sending event because uploadMultiple is set to true.
                this.on("sendingmultiple", function() {
                    // Gets triggered when the form is actually being sent.
                    // Hide the success button or the complete form.
                });
                this.on("successmultiple", function(files, response) {
                    // Gets triggered when the files have successfully been sent.
                    // Redirect user or notify of success.
                });
                this.on("errormultiple", function(files, response) {
                    // Gets triggered when there was an error sending the files.
                    // Maybe show form again, and notify user of error
                });
            }

        };
    </script>
    {{ block('modal_js') }}
{% endblock %}
{% block page_content %}

    <!-- start: PANLEL TABS -->
    <div class="panel panel-white panel-tabs">
        <div class="panel-heading">
            <h4 class="panel-title">{{ girl.getProperty('name') }} - <span class="text-bold">{{ category.getName() }}</span></h4>
        </div>
        <div class="panel-body">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#panel_tab_example1">
                            Fotos verticales
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#panel_tab_example2">
                            Subir fotos verticales
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#panel_tab_example3">
                            Fotos horizontales
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#panel_tab_example4">
                            Subir fotos horizontales
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#panel_tab_example5">
                            Video
                        </a>
                    </li>
                </ul>
                <div class="tab-content">

                    <div id="panel_tab_example1" class="tab-pane fade in active">
                        {% for photo in gallery if not photo.horizontal %}
                            {% if loop.index is divisible by(4) %}
                                <div class="row">
                                {% endif %}
                                <div class="col-sm-3">
                                    <div class="thumbnail">
                                        <img src="{{ asset('/images/' ~ photo.photo) }}" style="width: 100%; display: block;">
                                        <div class="caption">
                                            <center>
                                                <p>
                                                    <button url="{{ path('remove_photo_from_gallery_page', girl.getId(), category.getId(), photo.id) }}" data-bb="confirm" class="btn btn-dark-red">
                                                        Borrar
                                                    </button>
                                                </p>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                                {% if loop.index is divisible by(4) %}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="row">
                            <div class="col-sm-12">
                                <button class="btn btn-red show-tab btn-block" href="#panel_tab_example2">
                                    Agregar archivos <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div id="panel_tab_example2" class="tab-pane fade">
                        <form class="dropzone" id="my-awesome-dropzone">
                            <input type="submit" value="Subir fotos" class="btn btn-green btn-lg btn-block">
                        </form>
                    </div>

                    <div id="panel_tab_example3" class="tab-pane fade">
                        {% for photo in gallery if photo.horizontal %}
                            {% if loop.index is divisible by(2) %}
                                <div class="row">
                                {% endif %}
                                <div class="col-sm-6">
                                    <div class="thumbnail">
                                        <img src="{{ asset('/images/' ~ photo.photo) }}" style="width: 100%; display: block;">
                                        <div class="caption">
                                            <center>
                                                <p>
                                                    <button url="{{ path('remove_photo_from_gallery_page', girl.getId(), category.getId(), photo.id) }}" data-bb="confirm" class="btn btn-dark-red">
                                                        Borrar
                                                    </button>
                                                </p>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                                {% if loop.index is divisible by(2) %}
                                </div>
                            {% endif %}
                        {% endfor %}

                        <div class="row">
                            <div class="col-sm-12">
                                <button class="btn btn-red show-tab btn-block" href="#panel_tab_example4">
                                    Agregar archivos <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="panel_tab_example4" class="tab-pane fade">
                        <div class="row">
                            
                            
                        <form class="dropzone" id="my-awesome-dropzone2">
                            <input type="submit" value="Subir fotos" class="btn btn-green btn-lg btn-block">
                        </form>
                            
                            
                            
                            {#
                            <form enctype="multipart/form-data" method="POST" action="{{ path('add_photo_to_gallery_page_2', girl.getId(), category.getId()) }}" role="form" class="form-horizontal">
                                {% for i in 1..2 %}
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Foto #{{ i }}</label>
                                        <div class="col-sm-9">
                                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                                <div class="input-group">
                                                    <div class="form-control uneditable-input">
                                                        <i class="fa fa-file fileupload-exists"></i>
                                                        <span class="fileupload-preview"></span>
                                                    </div>
                                                    <div class="input-group-btn">
                                                        <div class="btn btn-light-grey btn-file">
                                                            <span class="fileupload-new"><i class="fa fa-folder-open-o"></i> Selecciona archivo</span>
                                                            <span class="fileupload-exists"><i class="fa fa-folder-open-o"></i> Cambiar</span>
                                                            <input type="file" class="file-input" name="horizontal[]">
                                                        </div>
                                                        <a href="#" class="btn btn-light-grey fileupload-exists" data-dismiss="fileupload">
                                                            <i class="fa fa-times"></i> Eliminar
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <br />
                                <div class="form-group"><div class="col-sm-12"><input type="submit" value="Subir fotos" class="btn btn-blue btn-block"></div></div>
                            </form>
                                #}
                                
                                
                                
                                
                        </div>
                    </div>

                    <div id="panel_tab_example5" class="tab-pane fade">
                        <form method="POST" action="{{ path('add_video_to_gallery_page', girl.getId(), category.getId()) }}" role="form" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="celular">
                                    Video ID
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" name="video" placeholder="pYt0Nwt_oNI" id="celular" class="form-control" value="{{ video.video }}">
                                </div>
                            </div>
                            <br />
                            <div class="form-group"><div class="col-sm-12"><input type="submit" value="Guardar" class="btn btn-blue btn-block"></div></div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- end: PANLEL TABS -->
{% endblock %}