{% extends "admin/layout.html.twig" %}
{% set title = (girl is defined) ? 'Editar Masajista' : 'Agregar Masajista' %}
{% set page_title = title %}
{% set page_subtitle = title %}
{% block panel_body %}
    <form method="POST" action="{{ (girl is defined) ? path('edit_girl_page', girl.getId()) : path('new_girl_page', type) }}" role="form" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="name">
                Nombre
            </label>
            <div class="col-sm-9">
                <input type="text" name="name" placeholder="Escriba el nombre de la nueva masajista" id="name" class="form-control" value="{{ (girl is defined) ? girl.getProperty('name') : '' }}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="delivery">
                Disponible
            </label>
            <div class="col-sm-9">
                <label class="checkbox-inline">
                    <input type="checkbox" class="green" value="" {{ (girl.getProperty('delivery') is not null) ? 'checked="checked"' : '' }} name="delivery">
                    Si
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="delivery2">
                Disponible Texto
            </label>
            <div class="col-sm-9">
                <input type="text" name="delivery2" id="hourFrom" class="form-control" value="{{ (girl is defined) ? girl.getProperty('delivery2') : '' }}">
            </div>
        </div>

        {% if (girl is defined and girl.getType() == 2) or (type == 2) %}
            <div class="form-group">
                <label class="col-sm-2 control-label" for="hourFrom">
                    Horario Desde
                </label>
                <div class="col-sm-9">
                    <input type="text" name="hourFrom" placeholder="10:00 AM" id="hourFrom" class="form-control" value="{{ (girl is defined) ? girl.getProperty('hourFrom') : '' }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="hourUntil">
                    Horario Hasta
                </label>
                <div class="col-sm-9">
                    <input type="text" name="hourUntil" placeholder="11:30 PM" id="hourUntil" class="form-control" value="{{ (girl is defined) ? girl.getProperty('hourUntil') : '' }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="movil">
                    Celular
                </label>
                <div class="col-sm-9">
                    <input type="text" name="movil" placeholder="000 000 00 00" id="movil" class="form-control" value="{{ (girl is defined) ? girl.getProperty('movil') : '' }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="whatsapp">
                    WhatsApp
                </label>
                <div class="col-sm-9">
                    <input type="text" name="whatsapp" placeholder="000 000 00 00" id="whatsapp" class="form-control" value="{{ (girl is defined) ? girl.getProperty('whatsapp') : '' }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="age">
                    Edad
                </label>
                <div class="col-sm-9">
                    <input type="text" name="age" placeholder="19" id="age" class="form-control" value="{{ (girl is defined) ? girl.getProperty('age') : '' }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="stature">
                    Estatura
                </label>
                <div class="col-sm-9">
                    <input type="text" name="stature" placeholder="1,65" id="stature" class="form-control" value="{{ (girl is defined) ? girl.getProperty('stature') : '' }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="breasts">
                    Senos
                </label>
                <div class="col-sm-9">
                    <input type="text" name="breasts" placeholder="36" id="breasts" class="form-control" value="{{ (girl is defined) ? girl.getProperty('breasts') : '' }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="waist">
                    Cintura
                </label>
                <div class="col-sm-9">
                    <input type="text" name="waist" placeholder="6" id="waist" class="form-control" value="{{ (girl is defined) ? girl.getProperty('waist') : '' }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="serves1">
                    Atiende 1
                </label>
                <div class="col-sm-9">
                    <input type="text" name="serves1" placeholder="Caballeros" id="serves" class="form-control" value="{{ (girl is defined) ? girl.getProperty('serves1') : '' }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="serves2">
                    Atiende 1
                </label>
                <div class="col-sm-9">
                    <input type="text" name="serves2" placeholder="Unicamente" id="serves" class="form-control" value="{{ (girl is defined) ? girl.getProperty('serves2') : '' }}">
                </div>
            </div>
        {% endif %}



        <br />
        <div class="form-group"><div class="col-sm-12"><input type="submit" value="{{ (girl is defined) ? 'Guardar' : 'Agregar' }}" class="btn btn-blue btn-block"></div></div>
    </form>
{% endblock %}