{% extends "admin/layout.html.twig" %}
{% set title = 'Precios' %}
{% set page_title = title %}
{% set page_subtitle = title %}
{% block panel_body %}
    <form method="POST" action="{{ path('a_prices_page') }}" role="form" class="form-horizontal">
        <div class="form-group"><div class="col-sm-2 control-label"><h1>Precios en sede</h1></div></div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="while">
                Rato
            </label>
            <div class="col-sm-9">
                <input type="text" name="while" placeholder="0.00" id="while" class="form-control" value="{{ price.getPrice('while') }}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="halfAnHour">
                Media Hora
            </label>
            <div class="col-sm-9">
                <input type="text" name="halfAnHour" placeholder="0.00" id="halfAnHour" class="form-control" value="{{ price.getPrice('halfAnHour') }}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="oneHour">
                Una Hora
            </label>
            <div class="col-sm-9">
                <input type="text" name="oneHour" placeholder="0.00" id="oneHour" class="form-control" value="{{ price.getPrice('oneHour') }}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="twoHours">
                Dos Horas
            </label>
            <div class="col-sm-9">
                <input type="text" name="twoHours" placeholder="0.00" id="twoHours" class="form-control" value="{{ price.getPrice('twoHours') }}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="girlsTwoAndAHalfHour">
                Dos Chicas / Media Hora
            </label>
            <div class="col-sm-9">
                <input type="text" name="girlsTwoAndAHalfHour" placeholder="0.00" id="girlsTwoAndAHalfHour" class="form-control" value="{{ price.getPrice('girlsTwoAndAHalfHour') }}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="twoGirlsOneHour">
                Dos Chicas / Una Hora
            </label>
            <div class="col-sm-9">
                <input type="text" name="twoGirlsOneHour" placeholder="0.00" id="twoGirlsOneHour" class="form-control" value="{{ price.getPrice('twoGirlsOneHour') }}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="cannedSoda">
                Gaseosa en Lata
            </label>
            <div class="col-sm-9">
                <input type="text" name="cannedSoda" placeholder="0.00" id="cannedSoda" class="form-control" value="{{ price.getPrice('cannedSoda') }}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="cannedBeer">
                Cerveza en Lata
            </label>
            <div class="col-sm-9">
                <input type="text" name="cannedBeer" placeholder="0.00" id="cannedBeer" class="form-control" value="{{ price.getPrice('cannedBeer') }}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="quarterOfRum">
                Un Cuarto de Ron
            </label>
            <div class="col-sm-9">
                <input type="text" name="quarterOfRum" placeholder="0.00" id="quarterOfRum" class="form-control" value="{{ price.getPrice('quarterOfRum') }}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="meanOfRum">
                Media de Ron
            </label>
            <div class="col-sm-9">
                <input type="text" name="meanOfRum" placeholder="0.00" id="meanOfRum" class="form-control" value="{{ price.getPrice('meanOfRum') }}">
            </div>
        </div>

        <div class="form-group"><div class="col-sm-2 control-label"><h1>Precios a Domicilio</h1></div></div>


        <div class="form-group">
            <label class="col-sm-2 control-label" for="txtOneHourDelivery">
                Texto Una Hora
            </label>
            <div class="col-sm-9">
                <input type="text" name="txtOneHourDelivery" placeholder="UNA HORA" id="txtOneHourDelivery" class="form-control" value="{{ price.getPrice('txtOneHourDelivery') }}">
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label" for="oneHourDelivery">
                Una Hora
            </label>
            <div class="col-sm-9">
                <input type="text" name="oneHourDelivery" placeholder="0.00" id="oneHourDelivery" class="form-control" value="{{ price.getPrice('oneHourDelivery') }}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="txtOneHourDeliveryPromo1">
                Texto Promoción 1: Una Hora
            </label>
            <div class="col-sm-9">
                <input type="text" name="txtOneHourDeliveryPromo1" placeholder="MEDIA HORA MAS" id="txtOneHourDeliveryPromo1" class="form-control" value="{{ price.getPrice('txtOneHourDeliveryPromo1') }}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="txtOneHourDeliveryPromo2">
                Texto Promoción 2: Una Hora
            </label>
            <div class="col-sm-9">
                <input type="text" name="txtOneHourDeliveryPromo2" placeholder="Pagas 1 Hora y Recibes Hora y Media" id="txtOneHourDeliveryPromo2" class="form-control" value="{{ price.getPrice('txtOneHourDeliveryPromo2') }}">
            </div>
        </div>

        <br />

        <div class="form-group">
            <label class="col-sm-2 control-label" for="txtTwoHoursDelivery">
                Texto Dos Horas
            </label>
            <div class="col-sm-9">
                <input type="text" name="txtTwoHoursDelivery" placeholder="DOS HORAS" id="txtTwoHoursDelivery" class="form-control" value="{{ price.getPrice('txtTwoHoursDelivery') }}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="twoHoursDelivery">
                Dos Horas
            </label>
            <div class="col-sm-9">
                <input type="text" name="twoHoursDelivery" placeholder="0.00" id="twoHoursDelivery" class="form-control" value="{{ price.getPrice('twoHoursDelivery') }}">
            </div>
        </div>
            
        <div class="form-group">
            <label class="col-sm-2 control-label" for="txtTwoHoursDeliveryPromo1">
                Texto promoción 1: Dos Horas
            </label>
            <div class="col-sm-9">
                <input type="text" name="txtTwoHoursDeliveryPromo1" placeholder="UNA HORA MAS" id="txtTwoHoursDeliveryPromo1" class="form-control" value="{{ price.getPrice('txtTwoHoursDeliveryPromo1') }}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="txtTwoHoursDeliveryPromo2">
                Texto promoción 2: Dos Horas
            </label>
            <div class="col-sm-9">
                <input type="text" name="txtTwoHoursDeliveryPromo2" placeholder="Pagas 2 Horas y Recibes 3 Horas" id="txtTwoHoursDeliveryPromo2" class="form-control" value="{{ price.getPrice('txtTwoHoursDeliveryPromo2') }}">
            </div>
        </div>
            
        <br />

        <div class="form-group">
            <label class="col-sm-2 control-label" for="txtNightDelivery">
                Texto Amanecida
            </label>
            <div class="col-sm-9">
                <input type="text" name="txtNightDelivery" placeholder="AMANECIDA" id="txtNightDelivery" class="form-control" value="{{ price.getPrice('txtNightDelivery') }}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="nightDelivery">
                Amanecida
            </label>
            <div class="col-sm-9">
                <input type="text" name="nightDelivery" placeholder="0.00" id="nightDelivery" class="form-control" value="{{ price.getPrice('nightDelivery') }}">
            </div>
        </div>
            
        <div class="form-group">
            <label class="col-sm-2 control-label" for="txtNightDeliveryPromo1">
                Texto Promoción 1: Amanecida
            </label>
            <div class="col-sm-9">
                <input type="text" name="txtNightDeliveryPromo1" placeholder="4 HORAS MAS" id="txtNightDeliveryPromo1" class="form-control" value="{{ price.getPrice('txtNightDeliveryPromo1') }}">
            </div>
        </div>
            
        <div class="form-group">
            <label class="col-sm-2 control-label" for="txtNightDeliveryPromo2">
                Texto Promoción 2: Amanecida
            </label>
            <div class="col-sm-9">
                <input type="text" name="txtNightDeliveryPromo2" placeholder="Pagas 4 Horas y Recibes 8 Horas" id="txtNightDeliveryPromo2" class="form-control" value="{{ price.getPrice('txtNightDeliveryPromo2') }}">
            </div>
        </div>

        <br />

        <div class="form-group">
            <label class="col-sm-2 control-label" for="txtGirlsTwoAndAHalfHourDelivery">
                Texto Dos Chicas / HORA Y MEDIA
            </label>
            <div class="col-sm-9">
                <input type="text" name="txtGirlsTwoAndAHalfHourDelivery" placeholder="DOS CHICAS" id="txtGirlsTwoAndAHalfHourDelivery" class="form-control" value="{{ price.getPrice('txtGirlsTwoAndAHalfHourDelivery') }}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="txtGirlsTwoAndAHalfHourDelivery2">
                Texto 2: Dos Chicas / HORA Y MEDIA
            </label>
            <div class="col-sm-9">
                <input type="text" name="txtGirlsTwoAndAHalfHourDelivery2" placeholder="HORA Y MEDIA" id="txtGirlsTwoAndAHalfHourDelivery2" class="form-control" value="{{ price.getPrice('txtGirlsTwoAndAHalfHourDelivery2') }}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="girlsTwoAndAHalfHourDelivery">
                Dos Chicas / HORA Y MEDIA
            </label>
            <div class="col-sm-9">
                <input type="text" name="girlsTwoAndAHalfHourDelivery" placeholder="0.00" id="girlsTwoAndAHalfHourDelivery" class="form-control" value="{{ price.getPrice('girlsTwoAndAHalfHourDelivery') }}">
            </div>
        </div>

        <br />

        <div class="form-group">
            <label class="col-sm-2 control-label" for="txtCouplesDelivery">
                Texto Atencion a Parejas
            </label>
            <div class="col-sm-9">
                <input type="text" name="txtCouplesDelivery" placeholder="ATENCION A PAREJAS" id="txtCouplesDelivery" class="form-control" value="{{ price.getPrice('txtCouplesDelivery') }}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="txtCouplesDelivery2">
                Texto 2: Atencion a Parejas / HORA Y MEDIA
            </label>
            <div class="col-sm-9">
                <input type="text" name="txtCouplesDelivery2" placeholder="HORA Y MEDIA" id="txtCouplesDelivery2" class="form-control" value="{{ price.getPrice('txtCouplesDelivery2') }}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="couplesDelivery">
                Atencion a Parejas
            </label>
            <div class="col-sm-9">
                <input type="text" name="couplesDelivery" placeholder="0.00" id="couplesDelivery" class="form-control" value="{{ price.getPrice('couplesDelivery') }}">
            </div>
        </div>



        <br />
        <div class="form-group"><div class="col-sm-12"><input type="submit" value="Guardar" class="btn btn-blue btn-block"></div></div>
    </form>
{% endblock %}